body {
    font-family: 'Courier New', monospace;
    background-color: #f5d9b5;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar a {
    text-decoration: none;
    display: block;
    background-color: black;
    color: white;
    padding: 8px;
}

#navbar a:hover {
    background-color: gray;
}

.foodImg {
    height: auto;
    width: 300px;
}