html {
    background-color: #e0ddd4;
}

body {
    font-family: 'Courier New', monospace;
    background-color: #f5d9b5;
    margin: 0px 10% 0px 10%;
}

h1 {
    margin: 0;
}

ul {
    list-style-type: square;
    margin-right: 25%;
}

li {
    padding-top: 1px;
    padding-bottom: 1px;
}

p {
    margin-right: 50%;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

#navbar li {
    float: left;
}

#navbar a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 8px;
}

#navbar a:hover {
    background-color: gray;
}

.mainBody {
    margin-left: 1%;
    margin-right: 1%;
}

.foodImg {
    height: auto;
    width: 300px;
}

.two_per_row {
    display: inline-block;
    width: 220px;
    margin: 0 5px 0 0;
}

.directions ul {
    list-style-type: none;
}

.directions ul li ul {
    list-style-type: none;
    display: inline;
}