html {
    background-color: #e0ddd4;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: #f5d9b5;
    width: 45%;
    margin: 0 auto;
    border: #000000 2px dotted;
}

h1 {
    margin: 0;
    font-family: 'Courier New', monospace;
}

h2 {
    font-family: 'Courier New', monospace;
}

ul {
    list-style-type: square;
    
}

li {
    padding-top: 1px;
    padding-bottom: 1px;
}

p {
    margin-right: 25%;
}

#logo {
    padding: 1% 2%;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: #000000;
    align-items: center;
}

#navbar > * {
    flex: 1;
    list-style: none;
    text-align: center;
}

#navbar a {
    text-decoration: none;
    color: white;
}

/* #navbar:hover {
    background-color: gray;
} */

.mainBody {
    margin: 1% 2%;
}

.foodImg {
    height: auto;
    width: 300px;
}

.ingredients_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredients_container > * {
    flex-basis: 200px;
    align-items: left;
}

.two_per_column {
    display: flex;
    flex-direction: column;
}

.two_per_column > * {
    flex: 1;
    justify-content: center;
    padding: 0;
}

.flex_directions {
    display: flex;
}

.flex_directions > * {
}

.flex_directions > h3 {
    flex: auto;
    flex-wrap: wrap;
    margin: 0;
    color: aqua;
    border: 1px solid black;
}

.flex_directions > p {
    color: rebeccapurple;
    border: 1px solid red;
    margin: 0;
}

.overview {
    border-bottom: 1px #000000 double;
    border-top: 1px #000000 double;
}
